@font-face {
	font-family: Rob-norm;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: Rob-med;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: Rob-bold;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Mont-light;
	src: url(../fonts/Montserrant/Montserrat-Light.ttf);
	font-weight: light;
}
@font-face {
	font-family: Mont-norm;
	src: url(../fonts/Montserrant/Montserrat-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: Mont-bold;
	src: url(../fonts/Montserrant/Montserrat-Bold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: Mont-semibold;
	src: url(../fonts/Montserrant/Montserrat-SemiBold.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Mont-extrabold;
	src: url(../fonts/Montserrant/Montserrat-ExtraBold.ttf);
	font-weight: 900;
}
@font-face {
	font-family: Out-norm;
	src: url(../fonts/Outfit/Outfit-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Out-bold;
	src: url(../fonts/Outfit/Outfit-Bold.ttf);
	font-weight: 600;
}

*{
	scroll-behavior: smooth;
}
body {
	background: white;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-family: Mont-norm, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	.btn:focus {
		outline: none;
	}
}
:root
{
	--outer-shadow: 3px 3px 3px #23527c, -2px -2px 3px #617bafc4;
	--inner-shadow: inset 3px 3px 3px #23527c, inset -2px -2px 3px #617bafc4;
	--outer-shadow-0: 0 0 0 #23527c, -0 -0 0 #617bafc4;
	--outer-shadow-timeline:  3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	--inner-shadow-timeline:  inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
	--inner-shadow-timeline-0:  inset 0px 0px 0px #d0d0d0, inset  0px  0px 0px #f8f8f8;
	--roboto: 'Roboto', sans-serif;
	--raleway: 'Raleway', sans-serif;
	--outfit: 'Outfit', sans-serif;
}
html
{
	font-size: 62.5%;
}
h1,h2,h3,h4,h5,button,a{
	font-family: Mont-norm;
}
p{
	font-size: 16px;
	color: #535353;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
input{
	font-family: Rob-norm;
}
$font-color: #005FFF;
$secondary-color: #2128BD;
$btn-color: #373336;
$section-white: #fff;

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: $secondary-color;
  border-radius: 30px;
}
ul{
    list-style-type:none;
    font-size:15px;
}

@mixin flexC{
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 3.8rem 0;
    .logo{
      a{
        font-size: 2.2rem;
        color: $font-color;
        letter-spacing: 0.05rem;
        font-weight: 600;
        font-family: Mont-extrabold;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    ul{
      display: flex;
      align-items: center;
      li{
        a{
          color: $secondary-color !important;
          font-family: Mont-semibold;
        }
        &:last-child{
          a{
            padding: 1.1rem 0rem;
            color: $font-color !important;
            border-radius: 30px;
            border: none;
            outline: none;
            width: 125px;
            text-align: center;
            @include flexC;
            background: rgba(0,95,254,.1);
          }
        }
        &:not(:last-child){
          margin-right: 4rem;
        }
      }
    }
  }
}
// banner css start
.banner{
  min-height: 85vh;
  position: relative;
  .banner-text{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    h1{
      width: 50%;
      color: $secondary-color;
      font-size: 11.2rem;
      font-family: Mont-semibold;
      text-align: center;
      letter-spacing: -0.6rem;
      line-height: 0.93;
    }
  }
  .mobile{
    margin-top: 14rem;
    display: flex;
    justify-content: center;
    position: relative;
    .mobile-back{
      position: absolute;
      left: 40%;
      top: 14%;
      width: 170px;
      height: 350px;
      border-radius: 30px;
      background-color: #005FFF;
      z-index: -1;
      // transform: rotate(-26deg);
    }
    .mobile-front{
      margin-left: 15rem;
      width: 36%;
      height: 550px;
      background: url(../images/mobile-frame3.png) no-repeat;
      background-size: contain;
    }
    .video{      
      position: absolute;
      top: 75px;
      left: 53.35rem;
      width: 220px;
      height: 371px;
      video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  #confetti{
    position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -5;
  }
}
// banner css end

// section 2 css start
.section2{
  margin-top: 12rem;
  background: #fdf0e5;
  min-height: 100vh;
  @include flexC;
  transition: all 0.3s ease;
  .content{
    @include flexC;
    flex-direction: column;
    text-align: center;
    position: relative;
    h2{
      font-size: 7rem;
      letter-spacing: -5px;
      width: 45%;
      font-family: Mont-semibold;
      margin-bottom: 3rem;
      color: $secondary-color;
      line-height: 1.1;
    }
    h5{
      font-family: Mont-norm;
      font-size: 2.5rem;
      letter-spacing: -0.14rem;
      word-wrap: 0.5rem;
      color: $secondary-color;
      opacity: 0.85;
    }
    .img{
      position: absolute;
      width: 38px;
      height: 38px;
      z-index: 10;
      transition: all 1s ease-out;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 0.2s ease;
      }
    }
    .img1{
      top: -45px;
      left: 19.8%;
    }
    .img2{
      top: -138px;
      left: 39.5%;
    }
    .img3{
      top: -137px;
      right: 38%;
    }
    .img4{
      top: -45px;
      right: 19%;
    }
    .img5{
      bottom: -36px;
      right: 19%;
    }
    .img6{
      right: 34%;
      bottom: -132px;
    }
    .img7{
      left: 40.4%;
      bottom: -150px;
    }
    .img8{
      left: 19.8%;
      bottom: -32px;
    }
  }
}
// section 2 css end

// section 3 css start
.section3{
  min-height: 100vh;
  @include flexC;
  .scroll-div{
    display: flex;
    flex-wrap: nowrap;
    width: 300vw;
    .scroll{
      display:flex;
      justify-content:flex-end;
      align-items:center;
      h3{
        font-size: 3.8rem;
        line-height: 1.3;
        color: $secondary-color;
        letter-spacing: 0.02rem;
        word-spacing: 0.3rem;
        text-transform: capitalize;
        font-family: Mont-norm;
        font-weight: 600;
        width: 66%;
        margin: auto;
      }
    }
  }
}
// section 3 css end

// section 4 css start
.section4{
  min-height: 85vh;
  padding-top: 10rem;
  .img-div{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    img{
      width: 60%;
      height: 100%;
      margin-left: 27%;
      object-fit: contain;
      object-position: center;
    }
  }
  .con-part{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    h3{
      color: #2128BD;
      font-family: Mont-bold;
      font-size: 2.8rem;
      letter-spacing: -0.05rem;
      word-spacing: 0.15rem;
      margin-bottom: 0.8rem;
    }
    h4{
      color: #2128BD;
      font-family: Mont-norm;
      font-size: 2.7rem;
      letter-spacing: -0.08rem;
      margin-bottom: 4.8rem;
      line-height: 1.6;
      width: 63%;
    }
    button{
      width: 160px;
      padding: 16px;
      background: #fff;
      border-radius: 15px;
      color: $font-color;
      border: 1px solid silver;
      font-size: 1.6rem;
      font-family: 'Mont-semibold';
    }
  }
}
// section 4 css end

// section 5 css start
.section5{
  min-height: 150vh;
  background-color: #eefbff;
  .center-text{
    height: 100vh;
    @include flexC;
    margin-top: 5.3rem;
    position: relative;
    h1{
      font-size: 7rem;
      letter-spacing: -5px;
      width: 45%;
      font-family: Mont-semibold;
      margin-bottom: 3rem;
      text-align: center;
      color: $secondary-color;
      line-height: 1.1;
      margin: auto;
    }
    .img{
      width: 50px;
      height: 50px;
      position: absolute;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .img1{
      top: 139px;
      left: 38.9%;
    }
    .img2{
      top: 139px;
      right: 36.8%;
    }
    .img3{
      top: 218px;
      right: 18.3%;
    }
    .img4{
      bottom: 210px;
      right: 18.7%;
    }
    .img5{
      bottom: 114px;
      right: 32.9%;
    }
    .img6{
      bottom: 105px;
      left: 39.4%;
    }
    .img7{
      bottom: 210px;
      left: 19.3%;
    }
    .img8{
      top: 225px;
      left: 18.9%;
    }
  }
  .tab-div{
    height: 100vh;
    display: flex;
    align-items: center;
    .tab-con{
      .con{
        height: 415px;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        img{
          width: 65%;
          height: 100%;
          margin-left: 15%;
          object-fit: cover;
          object-position: center;
          border-radius: 50px;
        }
      }
    }
    .tab-btn{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 2.8rem;
      h3{
        font-size: 3.8rem;
        letter-spacing: -0.04rem;
        color: $secondary-color;
        word-spacing: 0.15rem;
        font-family: Mont-semibold;
        line-height: 1.38;
        margin-top: 2.9rem;
        width: 70%;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        opacity: 0.5;
        img{
          width: 52px;
          vertical-align: top;
        }
        &.active{
          opacity: 1;
          -webkit-text-fill-color: $secondary-color;
          -webkit-text-stroke-width: 0px;
        }
      }
    }
  }
}
// section 5 css end

// section 6 css start
.section6{
  min-height: 110vh;
  .center-text{
    height: 90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    h1{
      font-size: 11.5rem;
      letter-spacing: -6px;
      width: 45%;
      font-family: Mont-semibold;
      margin-bottom: 3rem;
      text-align: center;
      color: $secondary-color;
      line-height: 1.1;
      margin: auto;
    }
  }
  .con-div{
    h4{
      width: 60%;
      font-size: 2.55rem;
      line-height: 1.6;
      color: $secondary-color;
      letter-spacing: -0.09rem;
      word-spacing: 0.1rem;
      span{
        font-family: Mont-semibold;
      }
    }
    &:nth-child(3){
      h4{
        margin-left: -4rem;
        width: 80%;
      }
    }
  }
}
// section 6 css end

// section 7 css start
.section7{
  margin-top: 12rem;
  background: #fdf0e5;
  min-height: 100vh;
  @include flexC;
  .content{
    @include flexC;
    flex-direction: column;
    text-align: center;
    position: relative;
    h2{
      font-size: 7rem;
      letter-spacing: -5px;
      width: 54%;
      font-family: Mont-semibold;
      color: $secondary-color;
      line-height: 1.1;
    }
    .img{
      position: absolute;
      width: 38px;
      height: 38px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .img1{
      top: -64px;
      left: 15.4%;
    }
    .img2{
      top: -150px;
      left: 38.5%;
    }
    .img3{
      top: -145px;
      right: 35.5%;
    }
    .img4{
      top: -60px;
      right: 14.5%;
    }
    .img5{
      bottom: -60px;
      right: 14.5%;
    }
    .img6{
      right: 31.4%;
      bottom: -165px;
    }
    .img7{
      left: 39.2%;
      bottom: -178px;
    }
    .img8{
      left: 15.4%;
      bottom: -64px;
    }
  }
}
// section 7 css end

// section 8 css start
.section8{
  min-height: 100vh;
  @include flexC;
  .left-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4.5rem 0 0 3.7rem;
    h3,h4{
      width: 60%;
      font-size: 2.8rem;
      line-height: 1.5;
      color: $secondary-color;
      letter-spacing: -0.04rem;
      word-spacing: 0.1rem;
    }
    h3{
      font-family: Mont-bold;
    }
    h4{
      font-family: Mont-norm;
    }
  }
  .right-div{
    position: relative;
    .rec1{
      position: absolute;
      left: 15%;
      top: 0px;
      width: 355px;
      height: 281px;
      background: #FDF0E5;
      border-radius: 25px;
      z-index: 5;
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      .img-div{
        width: 70%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center 0;
        }
      }
    }
    .rec2{
      position: absolute;
      top: 197px;
      left: 2.9%;
      width: 170px;
      height: 120px;
      background-color: #005AFD;
      border-radius: 25px;
      z-index: 6;
      overflow: hidden;
      @include flexC;
      .img-div{
        width: 80%;
        height: 100%;
        padding-top: 1.5rem;
        img{
          width: 100%;
          height: 140%;
          object-fit: cover;
          transform: rotate(-47deg);
          object-position: center 0;
          margin-top: -0.3rem;
          margin-left: 0.6rem;

        }
      }
    }
    .circ1{
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #53C3FF;
      border-radius: 50%;
      top: 220px;
      right: 24%;
      z-index: 2;
    }
    .circ2{
      position: absolute;
      width: 38px;
      height: 38px;
      background-color: #FF5E00;
      border-radius: 50%;
      top: 38px;
      left: 12.1%;
      z-index: 6;
    }
    .circ3{
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #FD9400;
      border-radius: 50%;
      top: 150px;
      left: 8%;
      z-index: 3;
    }
  }
}
// section 8 css end